<div class="card custom-card">
    <div class="card-body">
        <div class="post">
            <div>
                <img class="user-logo" src="../../assets/Round-Profile-Picture.png" alt="">
                <div style="display: inline-block; margin-left: 10px;">
                    <h5>{{post.creatorName}}</h5>
                </div>
                
            </div>
            <!-- <div class="row">
                <h5 class="card-title col">{{post.title}}</h5>
                <!-- <button style="float: right" class="btn btn-danger col-sm-2">Delete</button>
            </div> -->
            <div class="post-wrap">
                <p class="card-text">{{post.content}}</p>
            </div>
        </div>
        <div class="row like-comment-wrap">
            <button class="col btn btn-secondary" type="button">
                <img class="like-comment" src="../../assets/like.svg" alt="">
                Like
            </button>
            &nbsp;
            <button class="col btn btn-secondary">
                <img class="like-comment" src="../../assets/comment.svg" alt="">
                Comment
            </button>
        </div>
        <app-comments [post]="post"></app-comments>
    </div>
</div>