.custom-card {
    background-color: lightgray;
    margin-top: 10px;
    padding: 2px;
    border-radius:10px;
    height: 100%; 
    width: 100%;
}

.post{
    height: 40%;   
}


.comment a{
    border: none;
    background-color: lightgray;
    color: blue;
    text-decoration:underline;
}

.comment-input{
    width: 75%;
    float: left;
    margin-bottom: 10px;
}

.comment-addBtn {
    width: 22%;
    float: right;
    margin-bottom: 10px;
}

#navigation-dropdown {
    top: 50px;
    background-color:#eeeeee;
    border:#69C 4px solid;
    margin:0;
    padding:15px 15px 15px 30px;
    /*This here*/
    -webkit-transition: 3s ease-out;
    -moz-transition: 3s ease-out;
    -ms-transition: 3s ease-out;
    transition: 3s ease-out;
    height: 30%
}


.hide {
    opacity: 0;
    height: 0 !important;
}
#navigation-dropdown ul {
    float:left;
    width:150px;
    list-style:none;
    margin:0;
    padding:0;
}
#navigation-dropdown ul li {
    float:left;
    width:100%;
    font-size:14px;
    line-height:24px;
    margin:0;
    padding:0;
}
#navigation-dropdown ul li a {
    color:#69C;
    text-decoration:none;
}
#navigation-dropdown ul li a:hover {
    text-decoration:underline;
}
#navigation-dropdown ul li a:active {
    color:#dddddd;
}
#navigation-dropdown input {
    float:left;
    cursor:pointer;
    color:#333333;
    font-size:14px;
    font-family:Arial, sans-serif;
}

.user-logo{
    height: 15%;
    width: 10%;
    border-radius:45%;
    display:inline-block;
}